.principalImage{
    width: 100%;
    height: 300px;
    text-align: center;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-image: url('../resources/productos/Residencial-productos.png');
}

.FirstText{
    color: #000000;
    font-size: 48px;
    text-align: center;
    padding-top: 3%;
    font-family: 'BoschSans-Light';
}

.SecondText{
    color: #000000;
    text-align: center;
    font-size: 20px;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 40px;
    font-family: 'BoschSans-Light';
}

/*introduccion styles*/

.introduccionContainer{
    align-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    position: relative;
    margin-top: 50px;
    margin-bottom: 150px;
}

.textIntroduccion{
    font-family: 'BoschSans-Light';
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1170px;
}


/*Seccion de productos*/
.divTypeProduct{
    width: 100%;
    height: 30vw;
}

.imageContainerLeft{
    float: left; 
    width:50%; 
    height:30vw;
    position: relative;
}

.imageContainerRight{
    float: right; 
    width:50%; 
    height:30vw;
    position: relative;
}

.imageProduct{
    width: 100%;
    height:30vw;
}

.textImageContainerRight{
    width: 50%; 
    float: left; 
    height:30vw;

    position: relative;
    max-width: 585px;
    padding-left: 65px;
    margin-right: auto;
    margin-left: auto;
}

.textImageContainerLeft{
    width: 50%; 
    float: right; 
    height:30vw;

    position: relative;
    max-width: 585px;
    padding-right: 65px;
    margin-right: auto;
    margin-left: auto;
}

.centerText{
    position: absolute;
    top: 50%;
    webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.TitleProduct{
    font-family: 'BoschSans-Light';
    font-size: 40px;
    color: #008ECF;
    margin-bottom: 20px;
}

.DescriptionProduct{
    font-family: 'BoschSans-Light';
    font-size: 20px;
    color: #000000;
    margin-bottom: 20px;
}

.buttonLeerMas{
    background-color: white;
    border: 1px solid #dedfe0;
    color: #000000;
    font-size: 20px;
    font-family: 'BoschSans-Light';
    height: 40px;
    width: 200px;
}



/*Media Queries*/

@media screen and (max-width: 1200px){
    .divTypeProduct{
        align-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100%;
        position: relative;
        margin-bottom: 100px;
    }

    .imageContainerLeft{
        width: 100%;
        height: 100%;
    }

    .imageContainerRight{
        width: 100%; 
        height: 100%;
    }

    .imageProduct{
        width: 100%;
        height: 100%;
    }

    .textImageContainerRight{
        width: 100%; 
        height:100%;

        font-family: 'BoschSans-Light';
        font-size: 20px;
        padding-left: 15px;
        padding-right: 15px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 50px;
        margin-top: 50px;
        max-width: 1170px;

        position: static;

    }

    .textImageContainerLeft {
        width: 100%; 
        height:100%;

        font-family: 'BoschSans-Light';
        font-size: 20px;
        padding-left: 15px;
        padding-right: 15px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 50px;
        margin-top: 50px;
        max-width: 1170px;

        position: static;
    }

    .centerText{
        position: static;
        webkit-transform: none;
        transform: none;
    }
}